<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://10.194.80.252/dep/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet"
          href="http://10.194.80.252/dep/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css"/>
    <script src="http://apps.bdimg.com/libs/jquery/1.6.4/jquery.js"></script>
    <script src="../static/js/test.js"></script>
</head>
<body>
<h1>${name}</h1>
</body>
</html>

<script>
    $(document).ready(function () {
        var name = "${name}";

        alert(name);
        $("#id1").text();
    });
</script>